# Arquivo .dockerignore para Abelinha-V2

# Ignora dependências locais (serão instaladas DENTRO do container)
node_modules

# Ignora o diretório do Git
.git

# Ignora variáveis de ambiente locais (serão injetadas no container)
.env

# Ignora dados persistentes locais (serão montados como volumes)
auth_info_baileys
data
temp

# Ignora logs locais (se houver)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora arquivos de configuração do Docker
Dockerfile
.dockerignore

# Outros arquivos específicos do seu ambiente (ex: config do VSCode)
.vscode/

*.md
*.txt
.gitignore